.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 200px;
}

.toggle-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
  background-color: #ccc; 
}

.toggle-switch__checkbox:checked + .toggle-switch__slider:before {
  transform: translateX(26px);
}

.toggle-switch__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: black; 
}

.toggle-switch__label--left {
  left: 10px;
}

.toggle-switch__label--right {
  right: 10px;
}