.modal.modal_delete-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.modal__content-delete {
  width: 670px;
  height: 280px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  z-index: 9999;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__title-delete {
  font-size: 20px;
  margin: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-family: "CabinetGrotesk", sans-serif;
  margin-top: 50px;
}

.modal__text-delete {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 0 0;
  width: 100%;
  white-space: nowrap;
  font-family: "CabinetGrotesk", sans-serif;
  margin-top: 0px;
}

.modal__buttons-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.modal__delete-button-confirm {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: #ff4d4d;
  border: none;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__cancel-button {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-family: "CabinetGrotesk", sans-serif;
  margin-bottom: 30px;
}