.modal_delete-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5); /* Background overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content-delete {
  background: #ffffff;
  border-radius: 20px;
  padding: 28px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
}

.modal__title-delete {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__text-delete {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.modal__buttons-delete {
  display: flex;
  gap: 20px;
}

.modal__delete-button-confirm {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 12px;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__delete-button-confirm:hover {
  opacity: 0.6;
}

.modal__cancel-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 12px;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__cancel-button:hover {
  opacity: 0.6;
}
