.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.modal__label {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.modal__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 12px;
  padding: 6px 0;
  outline: none;
}

.modal__input::placeholder {
  color: #b6b6b6;
}

.modal__action-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.modal__submit-button {
  background: #f3f3f3;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.modal__submit-button:hover {
  background-color: black;
  color: white;
}

.modal__alt-button {
  background: none;
  border: none;
  font-size: 12px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.modal__alt-button:hover {
  color: black;
}
