.clothes-section__list {
  list-style: none;
  padding: 0;
  margin-left: 120px;
  display: grid;
  grid-template-columns: repeat(3, 325px);
  gap: 15px;
}

.item-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 4px;
  width: 325px;
  position: relative;
}

.item-card__image {
  width: 100%;
  height: 328px;
  object-fit: cover;
}

.item-card__header {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-card__name {
  background: white;
  color: lightgrey;
  font-size: 16px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  padding: 5px 10px;
  white-space: nowrap;
}

.item-card__like-button {
  width: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s ease;
}

.item-card__like-button_active {
  background-color: red; /* Turn red when the item is liked */
}

.item-card__like-button:hover {
  background-color: darkred; /* Dark red when hovered */
}

.item-card__like-image {
  width: 22px;
  height: 22px;
}


.item-card__weather {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
}