.main {
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 328px;
  padding: 0;
}