.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px 28px;
  font-family: "CabinetGrotesk", sans-serif;
}

.header__logo {
  margin-right: 24px;
}

.header__weather {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.header__add-button {
  margin-left: auto;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  padding: 0;
  background: none;
  color: #000;
}

.header__add-button:hover {
  color: #000;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.header__username {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  cursor: default;
}

.header__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.header__auth-buttons {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.header__auth-button {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: #000;
  cursor: pointer;
}

.header__auth-button:hover {
  color: #000; /* Solid black when hover */
}