@font-face {
  font-family: CabinetGrotesk;
  src: url("./vendor/Fonts/CabinetGrotesk-Medium.otf");
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}

.header__link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
  }

  .header__date-location {
    font-size: 16px;
  }
}