.modal__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal__close {
  border: none;
  background-color: #fff;
  padding: 0px;
  background-color: transparent;
  position: absolute;
  top: -25px;
  left: 450px;
  cursor: pointer;
}

.modal__close:hover {
  color: #000;
  background-color: transparent;
}

.modal__close-icon {
  height: 22px;
  width: 22px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__close-icon:hover {
color:#000;
background-color: transparent;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.modal__delete-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: right;
  color: red;
  position: relative;
  left: 350px;
  bottom: 33px;
  padding: 0px;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__delete-button:hover {
  color: #000;
  background-color: transparent;
}

.modal__weather {
  max-width: 120px;
  position: relative;
  top: 33px;
  margin-top: 0px;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__title {
  position: relative;
  top: 20px;
  color: #000000;
  width: 120px;
  margin-bottom: 0px;
  font-size: 18px;
  margin-top: 0px;
  font-family: "CabinetGrotesk", sans-serif;
}