.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close-btn {
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px;
  max-width: 498px;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__title-login {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  top: 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input-group {
  margin-bottom: 20px;
}

.modal__label {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 440px;
  height: 29px;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 0;
}

.modal__submit-login {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #000000;
  opacity: 0.3;
  margin-top: 40px;
  cursor: pointer;
  margin: 0;
}

.modal__register-link {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #000000;
  opacity: 0.3;
  margin-top: 40px;
  cursor: pointer;
  margin: 0;
  margin-right: 125px;
  top: 238px;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}